<!-- <div class="categories-container">
  <button class="all-categories-button active" id="all-categories-btn">
    All categories
  </button>
  <div class="category-container">
    <ul class="category-list"></ul>
  </div>
</div> -->

<!-- <div class="category-container">
  <button class="all-category-button active" id="all-category-btn">All categories</button>
  <div class="categories-container">
    <ul class="category-list"></ul>
  </div>
</div> -->
<div class="all-categories">
  <button type="button" class="all-categories-btn btn btn-active">
    All categories
  </button>
  <!-- <div class="all-categiries-list-container"> -->
  <ul class="all-categories-list"></ul>
  <!-- </div> -->
</div>
