<!-- <li class="favor-item">
  <img
    src="./images/assorted-sliced-fruits-in-white-ceramic-bowl-1092730 2.jpg"
    class="img-favor"
    alt="preview"
    width="335"
    height="335"
  />
  <div class="card-favor">
    <h2 class="title-favor">title</h2>
    <p class="desc-favor">description</p>
    <div class="rating-btn-favor">
      <p class="rating-favor">rating</p>
      <btn class="btn-favor">See recipe</btn>
    </div>
  </div>
</li> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <title>Palata Paradise</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main>
      <section class="favor-section">
        <ul class="favor-list" id="favorList"></ul>
      </section>
    </main>
    <nav>
      <ul class="pagination">
        <li class="page-item">
          <button class="page-link" id="prevButton">Previous</button>
        </li>
        <li class="page-item">
          <button class="page-link" id="nextButton">Next</button>
        </li>
      </ul>
    </nav>

    <script type="module" src="../js/favorites/favorites.js"></script>
  </body>
</html>
