<div class="filter-bar">
  <label class="filter-bar-label"
    ><span>Search</span>
    <div class="filter-bar-search-item">
      <input
        class="filter-bar-search-input"
        type="text"
        placeholder="Enter Text"
      /><svg class="filter-bar-input-search-icon">
        <use xlink:href="./images/icons.svg#icon-search"></use>
      </svg>
    </div>
  </label>

  <label class="filter-bar-label"
    ><span>Time</span
    ><select
      name="select-time"
      class="filter-bar-time-select filter-bar-select"
      id="selectTime"
      ref="select"
    >
      <option data-separator="true">0 min</option>
    </select>
  </label>

  <label class="filter-bar-label"
    ><span>Area</span>
    <select
      name="select-area"
      class="filter-bar-area-select filter-bar-select"
      id="selectArea"
    ></select
  ></label>

  <label for="select-ingrs" class="filter-bar-label"
    ><span>Ingredients</span>
    <select
      name="select-ingrs"
      class="filter-bar-ingrs-select filter-bar-select"
      id="selectIngrs"
    ></select
  ></label>
</div>

<button type="button" class="filter-bar-btn-reset">
  <div class="filter-bar-btn-reset-content">
    <svg class="filter-bar-icon-reset">
      <use xlink:href="./images/icons.svg#icon-reset-close"></use>
    </svg>
    <span class="filter-bar-btn-reset-description">Reset the filter</span>
  </div>
</button>
