<div class="filter-bar">
  <label class="filter-bar-lable-search"
    ><span class="filter-bar-lable-input-description">Search</span>
    <div class="filter-bar-input">
      <input
        class="filter-bar-input-search"
        type="text"
        placeholder="Enter Text"
      /><svg class="filter-bar-input-search-icon">
        <use xlink:href="./images/icons.svg#icon-search"></use>
      </svg>
    </div>
  </label>
  <select name="select-time" id=""></select>
  <label for="select-time">Time</label>
  <select name="select-area" id=""></select>
  <label for="select-area">Area</label>
  <select name="select-ingrs" id=""></select>
  <label for="select-ingrs">Ingredients</label>
</div>
