<div class="popular_on_recipes">       
  <div class="popular_all_recipes">
     <ul class="recipes-js">
       <li>
        <div id="text_from_above">
          <!-- <img
           src="https://www.themealdb.com/images/media/meals/uuuspp1468263334.jpg"
           alt="title"
          /> -->
         <div class="text_from_above">
           <button type="button">heart</button>
           <div>
              <h2>title</h2>
              <p>description</p>
              <p>rating</p>
           </div>
           
           <button type="button"></button>
         </div>
         
        </div>
         
       </li>
     </ul>
  </div>
</div>