/* ---------------mobail------------ */
@media screen and (min-width: 320px) {
  .all-categories-btn {
    width: 176px;
    height: 50px;
    background-color: var(--primary-text-color);
    margin-bottom: 24px;
    cursor: pointer;
    color: var(--primary-text-color-05);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    padding: 14px 28px;
    border-radius: 15px;
    border: 1px solid var(--primary-text-color-02);
    margin-left: 20px;
  }

  .btn.btn-active {
    background-color: var(--primary-color-btn);
    border: 1px solid var(--primary-color-btn);
    color: rgba(248, 248, 248, 1);
  }

  .all-categories-list {
    display: flex;
    width: 326px;
    height: 210px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    overflow-y: scroll;
    margin-left: 20px;
  }
  .all-categories-item-btn:hover,
  :focus {
    color: var(--primary-color-btn);
  }

  .all-categories-item-btn {
    border: none;
    background: none;
    color: var(--border-paginatio);
    font-size: 14px;
    font-weight: 500;
    line-height: calc(18 / 14);
    cursor: pointer;
  }
  /* ------------ styles for scrolling ------ */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(5, 5, 5, 0.18);
    border-radius: 12px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color-btn);
  }
}
/* --------------tablet-------------- */
@media screen and (min-width: 768px) {
  .all-categories-list {
    height: 416px;
    gap: 24px;
  }
  .all-categories-btn {
    margin-bottom: 30px;
  }

  .all-categiries-list-container {
    width: 176px;
    height: 416px;
  }
}

/* ------------desktop---------------- */

@media screen and (min-width: 1280px) {
  .all-categories-btn {
    margin-bottom: 42px;
  }

  .all-categiries-list-container {
    width: 235px;
    height: 416px;
  }
}
