:root {
    font-family: Inter, sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: -0.02em;

    --primary-text-color: #fff;

    --primary-text-color-05: rgba(5, 5, 5, 0.5);

    --primary-text-color-02: rgba(5, 5, 5, 0.2);
    --primary-text-color-01: rgba(5, 5, 5, 1);

    --primary-color-btn: #9bb537;

    --bgc-background: #161616;
    --bgc-background-mob-menu: #050505;
    --border-paginatio: rgba(5, 5, 5, 0.3);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 100px;
    }
}