/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(5, 5, 5, 0.1);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 14px;
}
.filter-bar-search-item {
  position: relative;
  display: inline-block;
  margin-top: 8px;
}
.filter-bar-search-input {
  padding-left: 48px;
  width: 335px;
  height: 46px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.2);
}
.filter-bar-search-input::placeholder {
  color: rgb(5, 5, 5);
  opacity: 0.5;

  font-size: 14px;
  line-height: calc(18 / 14);
}

.filter-bar-input-search-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 18px;
  top: 50%;

  transform: translateY(-50%);
  fill: #050505;
  opacity: 0.5;
}

/* select {
  border-radius: 15px;
  height: 46px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  opacity: 0.5;
  cursor: pointer;
} */
.filter-bar-select {
  padding-left: 14px;
  border-radius: 15px;
  height: 46px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  opacity: 0.5;
  cursor: pointer;
  margin-top: 8px;
  width: 158px;
}
.filter-bar-time-select {
  padding-left: 14px;
  border-radius: 15px;
  height: 46px;
  border: 1px solid rgba(5, 5, 5, 0.2);
  opacity: 0.5;
  cursor: pointer;
  margin-top: 8px;
  width: 158px;
}
.ss-content.filter-bar-select.ss-open-below {
  height: 188px;
  background-color: rgb(255, 255, 255);
  border-radius: 14px;
  border: transparent;
}
.ss-content .ss-list {
  margin-right: 6px;
}
.ss-content .ss-list .ss-option {
  color: rgba(5, 5, 5, 0.3);
}
.ss-content .ss-list .ss-option:hover {
  color: rgba(5, 5, 5);
  background-color: transparent;
}
.ss-content .ss-list .ss-option:focus {
  color: rgb(5, 5, 5);
  background-color: transparent;
}
.ss-content .ss-list .ss-option.ss-highlighted,
.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
  color: #050505;
  background-color: transparent;
}
.filter-bar-area-select {
  margin-top: 8px;
  width: 161px;
}
.filter-bar-ingrs-select {
  margin-top: 8px;
  width: 188px;
}
.filter-bar-label {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #050505;
  opacity: 0.5;
}
.filter-bar-label:not(:last-child) {
  margin-bottom: 8px;
}
