

.hero-wrapper {
 max-width: 335px;

  padding-top: 137px;
  margin-bottom: 48px;

  text-align: left;
}



.hero-title {
  /* width: 335px; */
  margin-bottom: 16px;
  font-family: Inter;
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
 
  text-transform: uppercase;
  color: var( --primary-text-color-01);
  
}

.hero-title span {
  color: var(--primary-color-btn);
  font-style: italic;
  font-weight: 400;
}

.hero-text {
 /* width: 335px; */

  color: var(--primary-text-color-01);
  font-family: Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  

  margin-bottom: 28px;
}

.hero-btn {
  display: inline-block;
  margin-bottom: 48px;
  width: 111px;
  height: 37px;

  font-family: Medium;
  font-size: 14px;


  color: var(--primary-text-color-01);
  background-color: transparent;
  border: 1px solid var(--primary-color-btn);
  border-radius: 10px;
  transition: color var(--transition-dur-func-btn-hover), background-color var(--transition-dur-func-btn-hover);
 
}
.hero-btn:hover,
.hero-btn:focus {
  color: var( --primary-text-color);
  background-color: var(--primary-color-btn);
  border: 1px solid var(--primary-color-btn);
}

/* Слайдер */
.slider {
  width: 355px;
  overflow: hidden;
}

.slider img {
  display: block;
  height: 100%;
  width: 100%;
}

.slider-item-cook {
  width: 80px;
  height: 280px;
}

.slider-item-cook img {
  object-fit: cover;
  border-radius: 15px;
}

.slider-item-topic {
  position: relative;

  width: 200px;
  height: 280px;
  background-color: #050505;
  border-radius: 15px;
}

.slider-item-topic img {
  width: 150px;
  height: 150px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

.slider-item-topic .description {
  width: 257px;
  position: absolute;
  left: 50%;
  top: 88%;
  transform: translate(-50%, -50%);
  color: rgba(248, 248, 248, 0.6);
  text-align: center;
  font-size: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
}

.slider-item-topic .country {
  position: absolute;
  left: 50%;
  top: 94%;
  transform: translate(-50%, -50%);
  color: rgba(248, 248, 248, 0.2);
  font-size: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.slider-item-finally {
  width: 222px;
  height: 280px;
  overflow: hidden;
  border-radius: 15px;
}

.slider-item-finally img {
  background: #050505;
  width: 529px;
  height: 529px;

  object-position: -170px -145px;

  object-fit: cover;
}

/* slick */

.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 8px;

  min-width: 0;
}

.slick-slide img {
  display: block;
}

.slick-list {
  overflow: hidden;
  margin-bottom: 20px;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  margin-bottom: 80px;
  
}

.slick-dots li {
  list-style: none;
}

.slick-dots button {
  width: 12px;
  height: 12px;
  border: 1px;
  background-color: black;

  font-size: 0;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: #9bb537;
}





@media screen and (min-width: 768px){
  .hero-container{
    max-width: 744px;
  }
  .hero-wrapper{
    max-width: 446px;
  }
  .hero-title {
    font-size: 36px;
  }
  .hero-text{
    width: 408px;
    font-size: 16px;
    line-height: 24px;
  }
  .slider {
    width: 736px;
  }
  .slick-track {
    gap: 16px;
  }
  .slider-item-cook {
    width: 137px;
    height: 442px;
  }
  .slider-item-topic,
  .slider-item-finally {
    width: 351px;
    height: 442px;
  }
  .slider-item-topic img {
    width: 304px;
    height: 271px;
  }
  .slider-item-finally img {
    background: #050505;
    width: 663px;
    height: 663px;

    object-position: -120px -125px;

    object-fit: cover;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container {
    display: inline-flex;
    gap: 32px;
  }
  .hero-wrapper {
    margin-bottom: 0;
  }
  .hero-title {
    width: 446px;
  }
  .slider {
    width: 702px;
  }
  .slider {
    padding-top: 100px;
  }
  .slider-wrapper {
    width: 1180px;
  }
}