@import url('./common.css');

/* спінер */
.popular_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: opacity 0.75s, visibility 0.75s;
}

.popular_loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.popular_loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid var(--primary-color-btn);
  border-top-color: var(--bgc-background);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
/*  -------- спінер --------- */

.popular {
    display: flex;
    width: 380px;
    height: 480px;
    /* background-color: #dee26c; */
    background-color: var(--primary-color-btn) ;
    border: 2px solid tomato;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.popular_title {
    color: #050505;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.17; /* 116.667% */
    text-transform: uppercase;
    margin-bottom: 32px;
    margin-top: 8px;
}

.popular-list {
  margin: 0;
  list-style: none;
  padding-left: 32px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  grid-gap: 30px;
}

.popular_gallery_card {
    display: flex;
}

.popular_gallery_info {
    display: flex;
    width: 80px;
    height: 64px;
    /* margin-right: 16px; */
}

.popular_gallery_image {
    width: 64px;
    height: 64px;
    box-sizing: border-box;

}

.popular_gallery_image:hover {
    width: 80px;
    height: 80px;
}

.popular_gallery_list {
    width: 164px;
}

.popular_gallery_list:hover {
    width: 256px;    
}

/* .popular_gallery_list_item {

} */

.popular_gallery_list_item_title {
    color: #050505;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29; /* 128.571% */
    text-transform: uppercase;
}

.popular_gallery_list_item_description {
    overflow: hidden;
    color: rgba(5, 5, 5, 0.80);
    text-overflow: ellipsis;
    /* whitespace: nowrap; */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; /* 140% */
    max-width: 156px;
    max-height: 41px;
}

.popular_gallery_list_item_description:hover {
    max-width: 256px;
    max-height: 84px;
    font-size: 12px;
}

.popular_on_recipes {
    display: flex;
    width: 600px;
    height: 600px;
    background-color: rgb(157, 216, 216);
    margin-left: 32px;
}

.popular_plus_recipes {
    display: flex;
}

/* .popular_all_recipes {

} */