@import url('./common.css');

.popular_loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: opacity 0.75s, visibility 0.75s;
}
.popular_loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.popular_loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid var(--primary-color-btn);
  border-top-color: var(--bgc-background);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}


.popular {
    display: flex;
    width: 235px;
    height: 364px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.popular_title {
    color: #050505;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.17; 
    text-transform: uppercase;
    margin-bottom: 32px;
    margin-top: 8px;
}

.popular-list {
  margin: 0;
  list-style: none;
  padding-left: 32px;
  display: flex;
  flex-wrap: wrap;
  
  grid-gap: 30px;
}

.popular_gallery_card {
    display: flex;
}

.popular_gallery_info {
    display: flex;
    width: 80px;
    height: 64px;
    
}

.popular_gallery_image {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    border-radius: 8px;

}

.popular_gallery_image:hover {
    width: 80px;
    height: 80px;
}

.popular_gallery_list {
    width: 164px;
}



.popular_gallery_list_item_title {
    color: #050505;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.29; 
    text-transform: uppercase;
    max-width: 155px;
}

.popular_gallery_list_item_description {
    overflow: hidden;
    color: rgba(5, 5, 5, 0.80);
    text-overflow: ellipsis;
    
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4; 
    max-width: 156px;
    max-height: 41px;
}